* {
    margin: 0;
    padding: 2;
    box-sizing: border-box;
    font-family: Georgia,sans-serif, 'Times New Roman', Times, serif;
    font-weight: bold;
}

body {
    background-color: rgba(5, 237, 249, 0.865);
}

.dabba {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(2, 179, 249);
    width: 600px;
    height: 600px;
    box-shadow: 4px 8px 16px rgb(241, 107, 4);
    border: 1px solid rgb(235, 163, 9);
    border-radius: 50px;
    padding: 50px;
}